html, body {
    display: grid;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 650px;
}

.site-operations {
    margin: 20px 0;
}

.operation-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.operation-name {
    padding: 10px;
    text-overflow: ellipsis; 
}

.operation-status {
    padding: 10px;
    border-radius: 3px;
    background-color: #B22222;
    color: white;
    font-weight: 700;
}

.normal {
    background-color: #228B22;
}

button {
    font-size: 1.5em;
    color: #3B86FF;
    background-color: white;
    width: 240px;
    padding: 5px;
    border: 1px solid #3B86FF; 
    border-radius: 5px;
    transition: 0.25s;
}

button:hover {
    background-color: #3B86FF;
    color: white;
}

button:focus {
    background-color: #0000CD;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}



